body{
font-family: Droid Sans, serif;
font-size: 22px;
width: 90%;
}

#logo {
float: right;
width: 90%;
padding-top: 0;
margin-top: 0;
}

main{
clear: right;
padding: 4%;
}

main img {
margin-left: 5%;

}

main p{
width: 40%;
float: right;
clear: left;
}

nav{ 
float: right;
margin-right: 10%;
}
nav li{
text-align: center;
list-style: none;
float: left;
display: inline-block;
padding: 1.36em;
text-decoration: none;
color: black;
}

p{
vertical-align:text-bottom;
}

a {
text-decoration: none;
color: black;
}

footer{
font-size: .68em;
text-align: center;
clear: both;
}

#about p{

float: right;
clear: left;
width: 80%;
display:inline-block;
text-indent: 5em;
margin: 2% 10%;
line-break: auto;
}

#about figure img{
padding-top: 5%;
}

#about figure {
font-size: .5em;
text-align: center;
padding-top: 5%;
}

#isaac {

float: left;
display:inline-block;
text-indent: 1em;
width: 30%;
margin-left: 10%;
margin-top: 1em;
padding: 3em;
}

#ervin  {
float: left;
display:inline-block;
text-indent: 1em;
width: 30%;
margin-top: 1em;
margin-right: 10%;
padding: 3em;
}

#ervin img {
margin: 0 10%;
}

#isaac img {
margin: 0 10%;
}

table{
font-size: .5em;
width: 90%;
float: right;
text-align: center;
margin-top: 2%;
}
th{
background-color: gray;
}

td {
border: 1px solid black;
}


@media screen and (min-width: 250px) and (max-width: 1400px) {
		
	main p {
	float: none;
	width: auto;
	font-size: .75em;
	}
	nav li {
	font-size: .75em;
			}
	nav img {
	width: 50%;
}
	